/* Overflow */

.Overflow_x_hidden{
    overflow-x: hidden;
}

/* Reviews Star Css */
.review-star ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
.review-star ul li{
    margin: 2px;
    list-style: none;
}


.fill{
    color: orangered;
}
.no-fill{
    color: gray;
}


/* Fetured Bikes 2021 Part GrayScale */


.grayscale img:hover{
    filter: grayscale(100);
}

